.sectionHeader {
  color: var(--primaryColor);
  font-size: 2em;
  align-self: center;
  margin: 1em 0;
}

.flex {
  display: flex;
  gap: 10px;
  flex-wrap: nowrap;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  align-self: center;
  margin-bottom: 10em;
}
